@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  max-width: 100vw;
  overflow:visible;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: "burtons";
  src: url('./Burtons.otf');
}

img{
  display:inline;
}


.arrow{
  align-items:center;
  padding-left: 20px;
  position: relative;
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 0.9s ease;
}

.reveal.active{
  transform: translateY(0px);
  opacity: 1;
}

.anime{
  position: relative;
  transform: translateX(150px);
  opacity: 0;
  transition: all 0.9s ease;
}

.anime.active{
  transform: translateX(0px);
  opacity: 1;
}


